.panel{class: "panel-#{header_color(@budget_period)}"}
  .panel-heading
    .row
      .col-sm-2.h4
        %i.fa.fa-calendar
        = @budget_period
      .col-sm-6
        = render partial: 'procurement/budget_periods/phases', locals: {budget_period: @budget_period}
      .col-sm-4

  .panel-body
    .row
      .col-sm-12
        %h4
          %i.fa.fa-cube
          = _('Choose an article/project')
          = _('or')
          = _('Add article for specific group')
        - Procurement::MainCategory.all.each do |main_category|
          %h5= main_category.name
          = render partial: 'procurement/templates/categories', locals: {categories: main_category.categories}
